<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}
  <div>
    <form  class = "jumbotron" method="POST">
      <div class="row ">
        <div class="col ">
          <input type="text" class="form-control" id="ticker" placeholder="Company Ticker" name="ticker">
        </div>
        <div class="col">
          <select id="time" name="time" class="custom-select">
            <option selected>Select a Time period</option>
            <option value="1d">1d</option>
            <option value="5d">5d</option>
            <option value="1mo">1mo</option>
            <option value="3mo">3mo</option>
            <option value="6mo">6mo</option>
            <option value="1y">1y</option>
            <option value="2y">2y</option>
            <option value="5y">5y</option>
            <option value="10y">10y</option>
            <option value="ytd">ytd</option>
            <option value="max">max</option>
          </select>
        </div>
        <input type="submit" class="btn btn-outline-dark" value="Submit">
      </div>
    </form>
  </div>
  <p>{{ticker}}</p>
  <p>{{date}}</p>
  <p>{{price}}</p>
  <div class = "jumbotron content-justified-center"><div id='myDiv'></div>
  
    <!-- Plotly chart will be drawn inside this DIV -->
  </div>
  <script>
  var trace1 = {
      x: [1, 16, 20, 27],
      y: [10, 15, 13, 17],
      type: 'scatter'
    };
    var trace2 = {
      x: [2, 26, 30, 47],
      y: [10, 12, 16, 27],
      type: 'scatter'
    };

    var data = [trace1, trace2];

    Plotly.newPlot('myDiv', data);</script>
  {% endblock %}
</body>



</html>